<div class="jumbotron text-center">
<h2>Admin Page </h2>
</div>
<!-- Redirects the admin to loginPage -->

<div class="container">
  <div class="row">
 	 <div class="col-sm-4.5"><h4><a href="" ng-click="adminController.navTo()">
 	 Return To Login page</a></h4>
 	 </div>
 	 </div>
 	 </div>
 	 
 <!-- Display the base Url -->	
 
 	<div class="container"> 
 	<div class="col-lg-1 col-offset-6 centered">
<h5>Base Url: <input ng-model="adminController.alocation" readonly /> </h5>
</div>
</div>


<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#login" ng-click="adminController.AppendNum" >baseLoginUrl</a></li>
    <li><a href="#">label</a></li>
    <li><a href="#">description</a></li>
    <li><a href=""> [+]</a></li>
  </ul>
 <!--  <div class="col-sm-1 col-offset-6 centered"><h1><a href="" ng-model="adminController.addUrl()"> [+]</a></h1>
 	 </div> -->
 	 </div>

<!-- <nav class="navbar navbar-default">
<div class="col-sm-4" id="url' + x + '"> <h1>baseLogin</h1></div>
<div class="col-sm-4" id="lab' + x + '"><h1>label</h1></div>
<div class="col-sm-4" id="des' + x + '"><h1>desc</h1></div>
</nav>
<div class="col-sm-1 col-offset-6 centered"><h1><a href="" ng-model="adminController.addUrl()"> [+]</a></h1>
 	 </div>
 	 </div> -->

 